{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block sidebar %}
    {%- if is_blog -%}
    <li>
        {% for navCat in cat_all %}
            <a href="{{ url_for('main.blogs_cat', note_catid=navCat.id) }}" class="navNoteCat{{ navCat.id }}">
                {{ navCat.name }}
            </a>
        {% endfor %}
    </li>
    {%- else -%}
    {% for navCats in cat_all %}
        {%- if navCats|length == 1 -%}
            {%- set navCat = navCats|first -%}
            <li>
                <a href="{{ url_for('main.notes_cat', note_catid=navCat.id) }}" class="navNoteCat{{ navCat.id }}">{{ navCat.name }}</a>
            </li>
        {%- else -%}
            {%- set navCat = navCats|first -%}
            <li>
                <a href="#">{{ navCat.name }}<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    {%- for subCat in navCats -%}
                        {%- if loop.index0 == 0 -%}{%- continue -%}{%- endif -%}
                        <li>
                            <a href="{{ url_for('main.notes_cat', note_catid=subCat.id) }}" class="navNoteCat{{ subCat.id }}">
                            {{ subCat.name }}</a>
                        </li>
                    {%- endfor -%}
                </ul>
            </li>
        {%- endif -%}
    {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}
<div id="doc-content">
    <script>var activeCat = "{{ note_cat.id }}"; var isSubCat = 0;
    {%- if note_cat.cat_level > 1 -%}isSubCat = 1;{%- endif -%}
    </script>

    <textarea style="display:none;">{{ md_data }}</textarea>
</div>
{% endblock %}

{% block jsscript %}
    <script src="{{ url_for('static', filename='user-defined/js/notes.js') }}" type="text/javascript"></script>
{% endblock %}