{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='editormd/css/editormd.preview.css') }}" />
{% endblock %}

{% block content %}
    <div class="row">
        <div id="doc-content">
            <textarea style="display:none;">{{ md_data }}</textarea>
        </div>
	</div>
{% endblock %}

{% block jsscript %}
    <script src="{{ url_for('static', filename='editormd/lib/marked.min.js') }}"></script>
    <script src="{{ url_for('static', filename='editormd/lib/prettify.min.js') }}"></script>
    <script src="{{ url_for('static', filename='editormd/lib/raphael.min.js') }}"></script>
    <script src="{{ url_for('static', filename='editormd/lib/underscore.min.js') }}"></script>
    <script src="{{ url_for('static', filename='editormd/lib/sequence-diagram.min.js') }}"></script>
    <script src="{{ url_for('static', filename='editormd/lib/flowchart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='editormd/lib/jquery.flowchart.min.js') }}"></script>

    <script src="{{ url_for('static', filename='editormd/editormd.min.js') }}"></script>

    <script type="text/javascript">
        var testEditor;
        $(function () {
            testEditor = editormd.markdownToHTML("doc-content", {
                htmlDecode: "style,script,iframe",
                emoji: true,
                taskList: true,
                tex: true,
                flowChart: true,
                sequenceDiagram: true,
                codeFold: true,
        });});
     </script>

    <script src="{{ url_for('static', filename='user-defined/js/poetry.js') }}" type="text/javascript"></script>
{% endblock %}