{% extends 'base.html' %}

{% block title %}阅读{% endblock %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user-defined/css/reading.css') }}">
{% endblock %}

{% block sidebar %}
    {% for year in year_all %}
        <li class="navBookYear{{ year.year }}">
            <a href="{{ url_for('main.reading_cat', year=year.year) }}"><i class="fa fa-fw fa-book"></i>
        {%- if year.year == 9999 -%}
            Reading
        {%- else -%}
            {{ year.year }}
        {%- endif -%}
        </a></li>
    {% endfor %}
{% endblock %}

{% block content %}
<div class="page-content">
    <script>
        var activeYear = "{{ activeYear.year }}";
    </script>
<ol>
	<table>
        {%- set books = activeYear.books -%}
        {%- set plusTDNum = (4 - (books|length % 4)) % 4 -%}
        {%- for book in books -%}
            {% if loop.index0 % 4 == 0 %}
            <tr>
            {%- endif -%}
            {%- if book.display == 1 -%}
            <td>
                <li><p>
                    <b>{{ book.title_desc }}</b>
                    <br>作者：[{{ book.author.state }}] {{ book.author.name }}
                </p></li>
                <p>
                    <img src="{{ book.imagePath }}" alt="图片加载失败" height="200" width="200"
                         onerror="this.src='/static/images/imgFailed.jpeg'"/>
                    <br>读书笔记：
                    {%- if book.mdNotePath -%}
                        <a href="{{ url_for('main.book_detail', year_id=activeYear.year, book_id=book.id) }}" target="_blank">{{ book.title }}</a>
                    {%- else -%}
                        <font color="#8A8A8A">{{ book.title }}</font>
                    {%- endif -%}
                    <br>推荐指数：{%- for i in range(book.rating) -%}&hearts;{%- endfor -%}
                    <br>完成日期：
                    {%- if activeYear.year == 9999 -%}
                        <font color="#8A8A8A">Reading</font>
                    {%- else -%}
                        {{ book.finish_date }}
                    {%- endif -%}
                    <br><i class="fa fa-thumbs-o-up" aria-hidden="true"> <font style="font-style: normal; color: #E94F06;">{{ book.likes }}</font> 赞</i>
                    {%- if book.eBookPath -%}<a href="{{ book.eBookPath }}" target="_blank" style="margin-left: 5px;">eBook</a>{%- endif -%}
                    {%- if book.one_sentence -%}<br>· {{ book.one_sentence }}{%- endif -%}
                    <div>
                        <div style="float: left;">
                            <form action="{{ url_for('main.edit_book', year_id=book.year_id, book_id=book.id) }}" method="GET">
                                <button type="submit" class="btn-success">编辑</button>
                            </form>
                        </div>
                        <div style="float: left; margin-left: 10px;">
{#                            <!--<form action="{{ url_for('main.del_poetry', cat_id=catid_local, poetry_id=poetry.id) }}" method="POST">-->#}
                            <form action="" method="POST">
                                <button type="submit" class="btn-danger" onclick="return confirm('确认删除文档吗？（该操作不可撤回）')">删除</button>
                            </form>
                        </div>
                        <div style="float: left; margin-left: 10px;">
{#                            <!--<form action="{{ url_for('main.del_poetry', cat_id=catid_local, poetry_id=poetry.id) }}" method="POST">-->#}
                            <form action="" method="POST">
                                <button type="submit" class="btn-default">隐藏</button>
                            </form>
                        </div>
                    </div>
                </p>
                <br><div style="margin-top: 20px;"> </div><br>
            </td>
            {%- endif -%}
            {%- if loop.index0 % 4 == 3 -%}
            </tr>
            {%- endif -%}
            {%- if loop.index0 == books|length - 1 -%}
                {%- for td in range(plusTDNum) -%}
                <td></td>
                {%- endfor -%}
                </tr>
            {%- endif -%}
        {%- endfor -%}
    </table>
</ol>
<hr>
<div style="text-align: center; padding-bottom: 20px;">
    <form action="{{ url_for('main.create_book', year_id=activeYear.year) }}" method="GET">
        <button type="submit" class="btn btn-success">新增书籍</button>
    </form>
</div>
</div>
{% endblock %}

{% block jsscript %}
    <script src="{{ url_for('static', filename='user-defined/js/reading.js') }}" type="text/javascript"></script>
{% endblock %}